/* subway.css */

body {
	margin-left: 5px;
	margin-right: 5px;
}
div#dataDiv {
	background-color: #d9d9d9;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #d9d9d9;
}
div.dataItem {
	font-family: Verdana, Helvetica, sans-serif;
	color: #434343;
	padding: 10px;
}
div.dataItem:nth-child(2n) {
	background-color: #fafafa;
}
div.dataItem:first-child {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
div.dataItem:last-child {
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#inputWindow{
	padding: 10px;
	padding-bottom: 10px;
	background-color: lightblue;
}

#graphwindow{
	padding: 10px;
	background-color: aliceblue;
}